{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row divider green">
  <div class="col-md-12"></div>
</div>
<div class="row banner menu">
  <div class="col-md-11 col-md-offset-1 padding-none">
    <h1>Log In With OAuth 2.0
      </h1>

  </div>
</div>
<!-- GOOGLE PLUS SIGN IN BUTTON-->
<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>
<script src="//apis.google.com/js/platform.js?onload=start">
</script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
<div id="signinButton">
  <span class="g-signin" data-scope="openid email profile" data-clientid="912865211431-54cnk2dvci03115rjhh1ubtb2kqlk5h7.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback"
    data-approvalprompt="force">
    </span>
</div>
<!--END GOOGLE PLUS SIGN IN BUTTON -->
<div id="result"></div>

<script>
  function signInCallback(authResult) {
    if (authResult['code']) {

      // Hide sign-in button now that user is authorized
      $('#signinButton').attr('style', 'display: none');

      // Send the one-time-use code to the server,
      //if the server responds, write a 'login successful' message to the web page
      //and then redirect back to the main restaurants page
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary
          if (result) {
            $('#result').html('Login Successful!<br>' + result +
              '<br>Redirecting...')
            setTimeout(function() {
              window.location.href = "/catalog";
            }, 4000);
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
            $('#result').html('Failed to make a server side call. Check your configuration and console.');
          }
        }
      });

    }
  }
</script>

<!-- End GOOGLE PLUS SIGN IN -->



<a href="https://github.com/login/oauth/authorize?client_id=1cf50fe0f7fcaa78e6ca&state={{STATE}}">
      Login with Github
    </a>

<br><br>
<a id="github-button" class="btn-si btn-si-a btn-github" href="https://github.com/login/oauth/authorize?client_id=1cf50fe0f7fcaa78e6ca&state={{STATE}}">
      Sign in with GitHub
    </a>

<br><br>
<a class="btn btn-block btn-social btn-github" href="https://github.com/login/oauth/authorize?client_id=1cf50fe0f7fcaa78e6ca&state={{STATE}}">
  <span class="fa fa-github"></span>
  Sign in with Github
</a>


{% endblock %}
